<a href="https://colab.research.google.com/github/Danielmc09/Ejercicios_redes_neuronales/blob/main/Ejercicioso_capitulo_2_3_4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio Capitulo 2

### Ejercicio 2.2

In [3]:
name_user = input('Ingrese su nombre: ')
print('Hola {} como estas?'.format(name_user))

Ingrese su nombre: Daniel
Hola Daniel como estas?

### Ejercicio 2.3

In [8]:
hours = float(input('ingresa las horas: '))
rate = float(input('ingresa la tarifa: '))
gross_pay = round(hours * rate, 2)
print('El salario bruto es {}'.format(gross_pay))

ingresa las horas: 35
ingresa la tarifa: 2.75
El salario bruto es 96.25

### Ejercicio 2.4

In [13]:
width = 17
height = 12.0
valor1 = width//2
print('valor de la expresión {0} tipo de la expresión {1}'.format(valor1, type(valor1)))
valor2 = width/2.0
print('valor de la expresión {0} tipo de la expresión {1}'.format(valor2, type(valor2)))
valor3 = height/3
print('valor de la expresión {0} tipo de la expresión {1}'.format(valor3, type(valor3)))
valor4 = 1 + 2 * 5
print('valor de la expresión {0} tipo de la expresión {1}'.format(valor4, type(valor4)))

valor de la expresión 8 tipo de la expresión <class 'int'>
valor de la expresión 8.5 tipo de la expresión <class 'float'>
valor de la expresión 4.0 tipo de la expresión <class 'float'>
valor de la expresión 11 tipo de la expresión <class 'int'>

###Ejercicio 2.5

In [16]:
celsius_temperature = float(input('ingresa la temperatura en celsius: '))
fahrenheit = (celsius_temperature * 1.8) + 32
print('la temperatura en celsius es {0}° y en fahrenheit es {1}°'.format(celsius_temperature, fahrenheit))

ingresa la temperatura en celsius: 25
la temperatura en celsius es 25.0° y en fahrenheit es 77.0°

##Ejercicios capitulo 3

###Ejercicios 3.1

In [23]:
hours = float(input('ingresa las horas: '))
rate = float(input('ingresa la tarifa: '))
if hours <= 40:
  gross_pay = hours * rate
else: 
  gross_pay = ((hours - 40) * (1.5 * rate)) + (40 * rate)

print('El salario bruto es {}'.format(gross_pay))

ingresa las horas: 45
ingresa la tarifa: 10
El salario bruto es 475.0

###Ejercicios 3.2

In [33]:
hours = input('ingresa las horas: ')
rate = input('ingresa la tarifa: ')
try:
  if hours <= 40:
    gross_pay = hours * rate
  else: 
    gross_pay = ((hours - 40) * (1.5 * rate)) + (40 * rate)
except:
  if not hours.isnumeric():
    print('Error, please enter numeric input')
  elif not rate.isnumeric():
    print('Error, please enter numeric input')
  else:
    print('El salario bruto es {}'.format(gross_pay))

ingresa las horas: 45
ingresa la tarifa: 10
El salario bruto es 475.0

###Ejercicios 3.3

In [52]:
score = float(input('ingrese una puntuación: '))
if score >= 0.9 and score <= 1:
  print('A')
elif score >= 0.8 and score <= 0.9:
  print('B')
elif score >= 0.7 and score <= 0.8:
  print('C')
elif score >= 0.6 and score <= 0.7:
  print('D')
elif score < 0.6:
  print('F') 
else:
  print('La puntuación esta fuera de rango')

ingrese una puntuación: 0.95
A

##Ejercicios capitulo 4

In [53]:
def fred():
  print("Zap")
def jane():
  print("ABC")
jane()
fred()
jane()

'La respuesta es d) ABC Zap ABC'

ABC
Zap
ABC

###Ejercicios 4.6

In [58]:
def computepay(hours, rate):
  if hours <= 40:
    gross_pay = hours * rate
  else: 
    gross_pay = ((hours - 40) * (1.5 * rate)) + (40 * rate)
  return gross_pay

hours = float(input('ingresa las horas: '))
rate = float(input('ingresa la tarifa: '))
pay = computepay(hours, rate)
print('El salario bruto es {}'.format(pay))

ingresa las horas: 45
ingresa la tarifa: 10
El salario bruto es 475.0

###Ejercicios 4.7

In [61]:
def computegrade(score):
  if score >= 0.9 and score <= 1:
    print('A')
  elif score >= 0.8 and score <= 0.9:
    print('B')
  elif score >= 0.7 and score <= 0.8:
    print('C')
  elif score >= 0.6 and score <= 0.7:
    print('D')
  elif score < 0.6:
    print('F') 
  else:
    print('La puntuación esta fuera de rango')

score = float(input('ingrese una puntuación: '))
computegrade(score)

ingrese una puntuación: 10.0
La puntuación esta fuera de rango

##Ejercicios capitulo 5

###Ejercicios 5.1

In [65]:
num = 0
tot = 0.0
while True:
    number = input("Enter a number: ")
    if number == 'done':
        break
    try :
        num1 = float(number)
    except:
        print('Invailed Input')
        continue
    num = num+1
    tot = tot + num1
print (tot,num,tot/num)

Enter a number: 4
Enter a number: 5
Enter a number: bad data
Invailed Input
Enter a number: 7
Enter a number: done
16.0 3 5.333333333333333

###Ejercicios 5.2

In [66]:
max = None
min = None
count = 0

while True:
    prompt = input ('Enter number: ')
    if prompt == "done":
        print ("Maximum: " + str(max))
        print ("Minimum: " + str(min))
        break
        
    else:
        try:
            if count == 0:
                max = float (prompt)
                min = float (prompt)
                count = 1
         
            else:
                if float (prompt) > max:
                    max = float (prompt)
                else:
                    if float (prompt) < min:
                        min = float (prompt)
            
        except:
            print ('Enter only numbers ! ! !')

Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
Enter number: 7
Enter number: 8
Enter number: 9
Enter number: 10
Enter number: 542
Enter number: done
Maximum: 542.0
Minimum: 1.0

##Ejercicio 2 del trabajo en Python

Se desea comprar un vehículo financiado: La forma de pago es una cuota inicial del 20% y el 80% restante en 40 cuotas mensuales; a cada cuota mensual se le carga el 2% sobre el saldo de la deuda. Escriba un programa que reciba como entrada el costo del vehículo, y devuelva el valor de la cuota inicial y de cada una de las cuotas mensuales

In [70]:
def costoVehiculo(valor):
    cuotaIni = (valor * 0.2)
    cuotaSec = (valor - cuotaIni)
    cuotaMen = (cuotaSec / 40)
    totalPag = 0
    print("El vehiculo tiene costo de: ", valor)
    print("--------------------------------------")

    print("La cuota inicial del vehiculo es: ", cuotaIni)
    print("--------------------------------------------")

    for i in range(40):
        vIrCuotaAct = cuotaMen + ((cuotaSec - cuotaMen) * 0.02)
        cuotaSec -= cuotaMen
        print("El valor de cuota N" + str(i + 1) + "es:\n")
        print("$ " + str(int(vIrCuotaAct)))
        print("**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**")
        totalPag += vIrCuotaAct

valor = float(input("ingrese el valor del vehiculo que desea financiar:"))
costoVehiculo(valor)

ingrese el valor del vehiculo que desea financiar:25000000
El vehiculo tiene costo de:  25000000.0
--------------------------------------
La cuota inicial del vehiculo es:  5000000.0
--------------------------------------------
El valor de cuota N1es:

$ 890000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N2es:

$ 880000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N3es:

$ 870000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N4es:

$ 860000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N5es:

$ 850000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N6es:

$ 840000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N7es:

$ 830000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N8es:

$ 820000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N9es:

$ 810000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N10es:

$ 800000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N11es:

$ 790000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N12es:

$ 780000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N13es:

$ 770000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N14es:

$ 760000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N15es:

$ 750000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N16es:

$ 740000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N17es:

$ 730000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N18es:

$ 720000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N19es:

$ 710000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N20es:

$ 700000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N21es:

$ 690000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N22es:

$ 680000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N23es:

$ 670000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N24es:

$ 660000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N25es:

$ 650000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N26es:

$ 640000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N27es:

$ 630000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N28es:

$ 620000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N29es:

$ 610000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N30es:

$ 600000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N31es:

$ 590000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N32es:

$ 580000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N33es:

$ 570000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N34es:

$ 560000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N35es:

$ 550000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N36es:

$ 540000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N37es:

$ 530000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N38es:

$ 520000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N39es:

$ 510000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**
El valor de cuota N40es:

$ 500000
**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**-**